<div id='header-wrapper'>
    <%= link_to(authenticated_root_path) do %>
        <h6 id='header-title'>Instagram</h6>
    <% end %>
    <%= link_to(authenticated_root_path) do %>
        <i id='message-icon' class="fas fa-paper-plane"></i>
    <% end %>
    <%= link_to(new_post_path) do %>
        <i id='camera-icon' class="fas fa-camera"></i>
    <% end %>
</div>
